body {
  margin: 0;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@import "variables";
@import "header";
@import "card";
@import "stars";

.main {
  margin-top: 50px;
  padding: 0 40px;

  &__content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 50px 48px;
    margin: 0 auto 78px;
    max-width: 1000px;
  }
}
