body {
  margin: 0;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0; }
  .menu__item {
    margin-left: 20px;
    list-style: none; }
    .menu__item:first-child {
      margin-left: 0; }
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: black; }
    .menu__link:hover {
      color: #00acdc; }
    .menu__link_active {
      position: relative;
      color: #00acdc; }
      .menu__link_active::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #00acdc;
        border-radius: 8px;
        height: 4px;
        width: 100%;
        bottom: 0; }

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 14px;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }
  .card:hover {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07); }
  .card__picture {
    display: block;
    margin: 30px auto 0;
    width: 160px;
    height: 134px; }
  .card__title {
    margin: 45px 0 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .card__code {
    margin: 5px 0 0;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400; }
  .card__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__review {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400; }
  .card__price {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .card__price > div:first-child {
      font-size: 11px;
      line-height: 13px;
      font-weight: 400; }
    .card__price > div:last-child {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700; }
  .card__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0 15px;
    height: 40px;
    background: #00acdc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white; }
    .card__button:hover {
      background: white;
      border: 1px solid #00acdc;
      color: #00acdc; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .stars__item {
    margin-right: 4px;
    width: 15px;
    height: 15px;
    background: url(../images/star.svg) no-repeat center; }
  .stars--1 .stars__item:nth-child(-n + 1) {
    background: url(../images/star-active.svg) no-repeat center; }
  .stars--2 .stars__item:nth-child(-n + 2) {
    background: url(../images/star-active.svg) no-repeat center; }
  .stars--3 .stars__item:nth-child(-n + 3) {
    background: url(../images/star-active.svg) no-repeat center; }
  .stars--4 .stars__item:nth-child(-n + 4) {
    background: url(../images/star-active.svg) no-repeat center; }
  .stars--5 .stars__item:nth-child(-n + 5) {
    background: url(../images/star-active.svg) no-repeat center; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px; }
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 992px;
    margin: 0 16px 28px; }

.wrapper {
  margin: 0 24px 50px; }

/*# sourceMappingURL=main.css.map */
